# Runtime
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=info

# Database (used from Step 1)
POSTGRES_USER=f1user
POSTGRES_PASSWORD=f1pass
POSTGRES_DB=f1db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://f1user:f1pass@localhost:5432/f1db
